/* mulish-font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap');
/* inter-font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* font-family: 'Inter', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;


}

section {
    margin-top: 80px;
}

/* header-section */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.site-logo-name {
    display: flex;
    align-items: center;
    gap: 15px;
}

.site-logo-name a {
    text-decoration: none;
}

header ul {
    display: flex;
    gap: 45px;
}

.site-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.agency {
    color: #FF5400;
}

header ul li {
    list-style: none;

}

header ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.home {
    color: #FF5400;
    font-weight: 700;
}

.menubar {
    display: none;
    text-decoration: none;

}

/* banner-section */

.banner-section {
    margin-top: 45px;
}

.banner-section .container {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Group13.png');
    padding: 100px 0;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.banner-heading-item {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 45px;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 170px);
    justify-content: center;
    column-gap: 25px;
    border-radius: 8px;
    padding: 15px 0;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 190px;
}

form input,
select {
    width: 100%;
    padding: 17px 0px 17px 15px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: #FFF;
}

form select {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 12px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    -webkit-appearance: none;
    appearance: none;

}

.when {
    position: relative;
}

.when::after {
    position: absolute;
    content: '';
    background: url('../icons/arrow.svg');
    width: 24px;
    height: 24px;
    transform: translateY(50%);
    right: 12px;
}

.select-type {
    position: relative;
}

.select-type::after {
    position: absolute;
    content: '';
    background: url('../icons/arrow.svg');
    width: 24px;
    height: 24px;
    transform: translateY(50%);
    right: 12px;
}

input::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
}

.find-now button {
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    background: #FF5400;
    padding: 15px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.fa-magnifying-glass {
    margin-right: 5px;
}

/* popular-section */

.popular-main-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;


}

.popular-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 0;
}

.popular-section ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
    margin-left: 15px;
}

.popular-last-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.primary-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

/* destination-section */

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    line-height: 26px;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;

}

.destination-img {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 25px;
}

.destination-main-img-item {
    margin-top: 35px;
}

.img-items {
    position: relative;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.destination-main-img-item img{
    width: 100%;
    display: block;
}



/* responsive */

@media screen and (max-width: 600px) {
    header ul {
        display: none;
    }

    .menubar {
        display: block;
    }

    header nav {
        padding: 0 20px;
    }

    form {
        grid-template-columns: 1fr;
        padding: 20px 30px;
        row-gap: 20px;
        background: rgba(255, 255, 255, 0.30);
        margin: 0 25px;
    }

    .banner-title {
        font-size: 40px;
        padding: 0 20px;

    }

    .banner-description {
        font-size: 15px;
        padding: 0 20px;
    }
    .destination-section,
    .banner-section {
        padding: 0 20px;
    }

    .popular-main-item {
        padding: 0 20px;
        flex-direction: column;
        gap: 30px;
    }

    .popular-img img {
        width: 100%;
        object-fit: cover;
    }
    .destination-img{
        flex-direction: column;
    }

}


@media screen and (min-width: 600px) and (max-width: 1200px) {
    .destination-section,
    .popular-section,
    .banner-section,
    header{
        padding: 0 30px;
    }
    form{
        margin: 0px 65px;
    }
    .popular-section{
        text-align: center;
    }
    .popular-main-item{
        flex-direction: column;
    }
    .popular-main-item ul li{
        list-style: none;
    }
}